# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
node_modules
build
app/ts/*.js
app/ts/*.map
app/ts/components/*.js
app/ts/components/*.map
*.map
*.js
bin-debug
manifest.json